@font-face {
  font-family: 'hotel';
  src:  url("");
  src:  url("hotel.eot") format('embedded-opentype'),
    url("hotel.ttf") format('truetype'),
    url("hotel.woff") format('woff'),
    url("hotel.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hotel' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-door:before {
  content: "\e91e";
}
.icon-food:before {
  content: "\e917";
}
.icon-putevka:before {
  content: "\e918";
}
.icon-medicine-line:before {
  content: "\e919";
}
.icon-sauna:before {
  content: "\e91a";
}
.icon-pool:before {
  content: "\e91c";
}
.icon-minibar:before {
  content: "\e91d";
}
.icon-hair-dryer:before {
  content: "\e90b";
}
.icon-towel:before {
  content: "\e90c";
}
.icon-room-size:before {
  content: "\e90d";
}
.icon-room-floor:before {
  content: "\e90e";
}
.icon-no-smoking:before {
  content: "\e90f";
}
.icon-no-animals:before {
  content: "\e910";
}
.icon-baby-boy:before {
  content: "\e911";
}
.icon-hot-cup:before {
  content: "\e912";
}
.icon-big-sofa:before {
  content: "\e913";
}
.icon-king-bed:before {
  content: "\e914";
}
.icon-menuwide:before {
  content: "\e90a";
}
.icon-drop:before {
  content: "\e900";
}
.icon-menuside:before {
  content: "\e909";
}
.icon-tv:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e901";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-clock1:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-key:before {
  content: "\e98d";
}
.icon-circle-m:before {
  content: "\ea56";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-glass:before {
  content: "\f000";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-th:before {
  content: "\f00a";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-lock:before {
  content: "\f023";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle-fill:before {
  content: "\f111";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-info:before {
  content: "\f129";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-thermometer:before {
  content: "\f2c7";
}
.icon-thermometer-4:before {
  content: "\f2c7";
}
.icon-thermometer-full:before {
  content: "\f2c7";
}
.icon-bell:before {
  content: "\e902";
}
.icon-alarm:before {
  content: "\e902";
}
.icon-notification:before {
  content: "\e902";
}
.icon-alarm1:before {
  content: "\e903";
}
.icon-time:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e903";
}
.icon-leaf:before {
  content: "\e904";
}
.icon-bath:before {
  content: "\e905";
}
.icon-bathtub:before {
  content: "\e905";
}
.icon-s15:before {
  content: "\e905";
}
.icon-shower:before {
  content: "\e907";
}
.icon-bed:before {
  content: "\e908";
}
.icon-hotel:before {
  content: "\e908";
}
.icon-sofa:before {
  content: "\e916";
}
